<body class ="profilepage">
  <div class ="container-fluid">


<div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 fill">
          <h2 class="profilename"> DASHBOARD </h2>

        </div>
        <div class="col-sm-1"></div>
</div>
    <br>
 <div class="row">
        <div class="col-sm-1"></div>
      	<div class="col-sm-5 maps">
        	<div class="col-sm-12 header"> <h3> Daily Weigh In:</h3></div>
        <%= line_chart Entry.where("user_id = #{current_user.id}").group_by_day(:date).maximum(:weighIn), ytitle: "Weight", colors:["#7b99c1"],download: true %>
			</div>

      	<div class="col-sm-5 diary">
        	 <div class="col-sm-12 header"> <h3> Entries:</h3></div>
      			<%=render 'entryList'%>
      			<br>
      			<br>
      			<br>
            <br>
            <br>
            


      		</div>

        <div class="col-sm-1"></div>
      </div>



  </div>
<body>

  

