<body class ="dashboards">
	<div class="container-fluid">
		<div class="row">
	  	 <div class ="col-xs-1"></div>
		<div class="col-xs-10"><div class="nutrition"> Nutrition Log</div></div>
		<div class="col-xs-1"></div>
	</div>
	  <div class="row">
	  	 <div class ="col-xs-1"></div>
		<div class="col-xs-5 log" id="log1">FOOD LOG API</div>
		<div class="col-xs-5 log" id="log2">NEW ENTRY</div>
	  	 <div class ="col-xs-1"></div>

	  </div>
	  <div class="row">
	  <div class ="col-xs-1"></div>
	  	<div id="foodLog" class="col-xs-5">
	  	<script src="http://platform.fatsecret.com/js?key=8ae71955d01b4f85ad39e05c633dd91b
         &auto_load=true"></script>



			</script>
	  		<div id="my_container" class="fatsecret_container">
	  	    </div>
			<script>
					$(document).on('turbolinks:load', function(){
						fatsecret.variables.navOptions = fatsecret.navFeatures.food_diary | fatsecret.navFeatures.home;
					})
			</script>

		 	</div>
	  	<div id="newEntry" class="col-xs-5">
	  	<%=render "form"%>
	  	</div>
	  </div>

   </div>
</body>


