<body class ="homepage">
	<div class ="container-fluid">
		<div class="row">
  			<div class="icon">
  				<img class="icon" src="/fav.png" width="25%" height="25%" alt="icon">
  			</div>
		</div>
		<div class="row">
  			<div class="col-sm-6">
               <h1 class="label2">ITS<b>FIT</b> </h1>
  			</div>
		</div>
		<div class="row">
  			<div class="col-sm-6">
               <p id="subtext"> Flexible Dieting | Customized Workouts | Lifestyle Change</p>
  			</div>
		</div>
	</div>
  <div class="row">
        <div class="col-sm-6">
          <br>
          <br>
          <br>
          <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <br>
          <br>
          <br>
          <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <br>
          <br>
          <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <br>
          <br>
          <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <br>
          <br>
          <br>
        </div>
    </div>
    <div class="row">
       <div class="col-sm-1"></div>
        <div class="col-sm-5">
               <p id="subtext1"> <u>What is Flexible Dieting?</u></p>
               <p id="subtext2"> Flexible dieting also known as If It Fits Your Macros aims to provide a practical solution to dieting by providing sustained results that is maintable in the long term. It is not a crash diet, or some six pack shortcut. Flexible dieting simply involves daily calorie and macronutrient targets whereby you eat foods that allow you to reach those daily targets. Dieting is still calories in versus calories out and flexible dieting allows you to measure your intake according to your desired goal.Think 80/20: 80% of your daily intake should come from nutrient dense, whole and minimally processed foods whilst the remaining 20% of your daily intake can then come from any other food sources of your choosing that allow you to reach your macronutrient targets for the day.
               </p>
        </div>
         <div class="col-sm-5">
               <p id="subtext1"><u>Why USE ITSFIT?</u></p>
                  <p id="subtext2"> With so many other diet plans or workout programs out there why ITSFIT? The answer is simply because it's free, and nothing is being sold here. The final, complete product will serve as your personal online coach when it comes the reaching your fitness goals and dietary goals. All the necessary tools in one place without the unnecessary distractions. The hardest part of making a life change is starting and not everyone can afford a personal trainer or a dietitian to monitor them 24/7. ITSFIT's purpose is to spread accurate knowledge about proper diet and effective weight training and exercise in order to help everyone in the community get closer to becoming the best versions of themselves. 
               </p>
        </div>
        <div class="col-sm-1"></div>
    </div>



<body>