<body class ="homepage">
	<div class ="container-fluid">
		<div class="row">
  			<div class="icon">
  				<img class="icon" src="/fav.png" width="25%" height="25%" alt="icon">
  			</div>
		</div>
		<div class="row">
  			<div class="col-sm-6">
               <h1 class="label2">ITS<b>FIT</b> </h1>
  			</div>
		</div>
		<div class="row">
  			<div class="col-sm-6">
               <p id="subtext"> Flexible Dieting | Customized Workouts | Lifestyle Change</p>
  			</div>
		</div>
	</div>
<body>