#newEntry {
	height: 68vh;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid #d5d5d5;
	box-shadow: 1px 1px 3px #b3b3b3;

    }

#foodLog {
	border: 2px solid #d5d5d5;
	box-shadow: 1px 1px 3px #b3b3b3;

}